# Ignorar artefatos de build massivos
build/tmp/
build/downloads/
build/sstate-cache/
build/cache/
build/bitbake-cookerdaemon.log

# Ignorar firmwares de teste
test_firmware/

# Ignorar arquivos temporários do Python e Editor
__pycache__/
*.pyc
.vscode/
*.swp

# (Opcional) Se quiser ignorar as pastas de terceiros caso não use submodules
# Mas vamos usar submodules, então não precisa ignorar aqui, o git gerencia.
build-systemd/
build-optimized/

meta-infusion-pump/recipes-connectivity/mosquitto/files/certs/
meta-infusion-pump/recipes-core/bundles/files/*.pem
meta-infusion-pump/recipes-support/rauc/files/*.pem
meta-infusion-pump/recipes-support/rauc/files/
meta-infusion-pump/recipes-apps/infusion-control/files/src/build/

certs/

poky/
# Yocto/BitBake artifacts
bitbake.lock
pseudodone
toaster.sqlite
toaster_ui.log
boot.txt
update.txtbuild/


recipes-core/bundles/files/*.pem
recipes-support/rauc/files/*.pem
recipes-connectivity/mosquitto/files/certs/*

# Manter as pastas no git
!recipes-core/bundles/files/.gitkeep
!recipes-support/rauc/files/.gitkeep
!recipes-connectivity/mosquitto/files/certs/.gitkeep
